[Unit]
Description=Cuckoo Web Service
After=network.target cuckoo.service

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo web --host 192.168.4.101 --port 8080
Restart=on-failure
User=cuckoo
Group=cuckoo
WorkingDirectory=/home/cuckoo/.cuckoo

[Install]
WantedBy=multi-user.target